
*, ::after, ::before {
    box-sizing: initial;
}

body {
    --main-background: #2e3440;
    --secondary-background: #3C4453;
    --highlight: #4c566a;
    --white: #eceff4;
    --offwhite: #d8dee9;
    --grey: #9aa1ad;
    --blue: #5e81ac;
    --frost: #8fbcbb;
    --red: #bf616a;
    --orange: #d08770;
    --yellow: #ebcb8b;
    --green: #a3be8c;
    --purple: #b48ead;

    --polarNight1: #2e3440;
    
    /* end vars */
    background-color: var(--main-background); /* main bkg color */
    color: var(--white);/* sets default text color */
}

.app {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    /* both sides add as much margin as possible on the left and right, centering the content */
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}