body {
    --main-background: #2f3541;
    --highlight: #4c566a;
    --white: #eceff4;
    --offwhite: #d8dee9;
    --blue: #5e81ac;
    --frost: #8fbcbb;
    --red: #bf616a;
    --orange: #d08770;
    --yellow: #ebcb8b;
    --green: #a3be8c;
    --purple: #b48ead;



    /* end vars */
    background-color: var(--main-background); /* main bkg color */
    color: var(--white);/* sets default text color */
}

.app {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    /* both sides add as much margin as possible on the left and right, centering the content */
    margin-left: 10px;
    margin-right: auto;
    padding: 0 10px;
}