
.feed {
    flex: 0.4; /* This + 0.3 from sidebar = 70% screen width */
    border-right: 1px solid var(--highlight);
    min-width: 614px;    
    overflow-y: scroll; /*When there is too much content, scroll*/
}

/* Hide scrollbar on Chrome, Safari, Opera */
.feed::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar on IE, Edge, Firefox */
.feed {
    -ms-overflow-style: none; /* IE / Edge */
    scrollbar-width: none; /* Firefox */
}

.feed__header {
    position: sticky;
    top: 0;
    background-color: var(--highlight);
    z-index: 100;
    border: 1px solid var(--highlight);
    padding: 13px 20px;

}

.feed__header > h2 {
    font-size: 20px;
    font-weight: 800;
}

.feed__signIn {
    display: flex;
    justify-content: center;
}

.feed__signIn__button {
    background-color: var(--blue) !important;
    border: none !important;
    color: var(--white) !important;
    font-size: 18px !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 20px !important;
    margin-right: 5px !important;
    margin-left: 5px !important;
    width: 110px !important;

}

.feed__signInPrompt {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}