.more {
    flex: 0.4;
    border-right: 1px solid var(--highlight);
    min-width: 614px;
    overflow-y: scroll;
}

.more::-webkit-scrollbar {
    display: none;
}

.more {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.more__header {
    position: sticky;
    top: 0;
    background-color: var(--highlight);
    z-index: 100;
    border: 1px solid var(--highlight);
    padding: 13px 20px;

}

.more__header > h2 {
    font-size: 20px;
    font-weight: 800;
}
/*  end of standard css  */
.more__element {
    border-bottom: 1px solid var(--highlight);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
}

button {
    color: var(--white);
}
button:hover{
    text-decoration: underline;
}
.confirmation {
    text-align: center;
}
.confirmButtons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.confirmButtons > button {
    background-color: var(--blue) !important;
    border: none !important;
    color: var(--white) !important;
    font-size: 15px !important;
    font-weight: 700 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 200px;
    height: 30px !important;    
}

.delete__error {
    background-color: var(--red) !important;
    border: none !important;
    color: var(--white) !important;
    border-radius: 30px !important;
    width: 400px;
    margin: 10px auto 0 auto;
}