.more {
    flex: 0.4;
    border-right: 1px solid var(--highlight);
    min-width: 614px;
    overflow-y: scroll;
}

.more::-webkit-scrollbar {
    display: none;
}

.more {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.more__header {
    position: sticky;
    top: 0;
    background-color: var(--highlight);
    z-index: 100;
    border: 1px solid var(--highlight);
    padding: 13px 20px;

}

.more__header > h2 {
    font-size: 20px;
    font-weight: 800;
}
/*  end of standard css  */