.sidebar {
    border-right: 1px solid var(--highlight);
    flex: 0.3;
    /*min-width: 250px;*/
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.sidebar__twitterIcon {
    color: var(--purple);
    font-size: 90px !important; /* An icon is a font! */
    margin-left: 20px;
    margin-bottom: 20px;
}
.sidebar__tweet {
    background-color: var(--blue) !important;
    border: none !important;
    color: var(--white) !important;
    font-size: 18px !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 20px !important;
}

.modal-buttons{
  display: flex;
  padding: 5px 45px 5px 0px;
  margin-right: 10%;
}

.modal {
    text-align: center;
    padding: 0!important;
  }

.modal-header{
  border-bottom: 0 none;
  background-color: #b48ead;
  outline: 0;
}

.modal-body
{
  background-color: #2e3440;
}
  .modal:before {
    content: '';
    display: inline-block;
    height: 65%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
  }

.modal-footer
{
  border-top: 0 none;
  background-color: #2e3440;
}
  
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;

}

