.sidebarOption
{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 20px 15px 15px 15px;
}

.sidebarOption:hover {
    background-color: var(--offwhite);
    border-radius: 30px;
    color: var(--blue);
    transition: color 100ms ease-out;
}

.sidebarOption > .MuiSvgIcon-root {
    padding: 0px;
    font-size: 35px;
}

.sidebarOption > h2 {
    font-weight: 450;
    font-size: 35px;
    margin-left: 15px;
}

.sidebarOption--active {
    color: var(--blue);
}