.sidebar {
    border-right: 1px solid var(--highlight);
    flex: 0.3;
    /*min-width: 250px;*/
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}
.sidebar__twitterIcon {
    color: var(--purple);
    font-size: 30px !important; /* An icon is a font! */
    margin-left: 20px;
    margin-bottom: 20px;
}
.sidebar__tweet {
    background-color: var(--blue) !important;
    border: none !important;
    color: var(--white) !important;
    font-size: 18px !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 20px !important;
}
