.tweetBox {
    padding-bottom: 10px;
    padding-right: 10px;
}

.notInModal {
    border-bottom: 8px solid var(--highlight);
}

.tweetBox > form {
    display: flex;
    flex-direction: column;
}

.tweetBox__input {
    padding: 20px;
    padding-bottom: 0;
    display: flex;
}

.tweetBox__input > input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: 1px dashed var(--highlight);
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--main-background);
    color: var(--white);
}

.tweetBox__imageInput {
    background-color: var(--main-background);
    color: var(--white);
    border: 1px dashed var(--highlight);
    border-radius: 30px;
    padding: 10px;
    margin-left: 20px;
    width: 78%;
}
.inputFile {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputFile + label {
    padding-top: 2px;
    padding-left: 92px;
}

.inputfile:focus + label,
label:hover {
    cursor: pointer; /* "hand" cursor */
}

.tweetBox__tweetButton {
    background-color: var(--blue) !important;
    border: none !important;
    color: var(--white) !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 80px;
    height: 35px !important;
    margin-left: auto !important; /*pushes tweet button over */
}

.tweetBox__tweetButton__debug {
    background-color: red !important;
    border: 1px dashed var(--highlight);
    color: var(--white) !important;
    font-weight: 700 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 180px;
    height: 35px !important;
    margin-top: 20px !important;
    margin-left: auto !important; /*pushes tweet button over */
}