.tweetBox {
    padding-bottom: 10px;
    padding-right: 10px;
}

.notInModal {
    border-bottom: 8px solid var(--highlight);
}

.tweetBox > form {
    display: flex;
    flex-direction: column;
}

.tweetBox__input {
    padding: 20px;
    display: flex;
}

.tweetBox__input > input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    background-color: var(--main-background);
    color: var(--white);
}

.tweetBox__imageInput {
    background-color: var(--main-background);
    color: var(--white);
    border: 1px dashed var(--highlight);
    border-radius: 30px;
    padding: 10px;
    margin-left: 20px;
    width: 78%;
}

.tweetBox__tweetButton {
    background-color: var(--blue) !important;
    border: none !important;
    color: var(--white) !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 80px;
    height: 35px !important;
    margin-top: 20px !important;
    margin-left: auto !important; /*pushes tweet button over */
}

.tweetBox__tweetButton__debug {
    background-color: red !important;
    border: 1px dashed var(--highlight);
    color: var(--white) !important;
    font-weight: 700 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 180px;
    height: 35px !important;
    margin-top: 20px !important;
    margin-left: auto !important; /*pushes tweet button over */
}