.widget {
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    padding: 10px 0;
}

.widget__topic > p {
    font-size: 8;
    color: var(--white);
}
.widget__content {
    display: flex;
}
.widget__content > p {
    font-weight: bolder;
}
.widget__content__Avatar {
    border: 2px solid var(--blue);
}

.widget__follow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.widget__followText > h4 {
    font-weight: bold;
}

.widget__followText > p {
    font-size: 12px;
    color: var(--white);
}

.widget__followButton {
    background-color: var(--main-background) !important;
    border: 2px solid var(--blue) !important;
    color: var(--blue) !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 250px;
    height: 35px !important;
}