.widgets {
    flex: 0.3;
}

.widgets__input {
    display: flex;
    align-items: center;
    background-color: var(--highlight);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

.widgets__input > form > input {
    border: none;
    color: var(--white) !important;
    background-color: var(--highlight);
}

.widgets__searchIcon {
    color: var(--offwhite);
}

.widgets__widgetContainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 10px;
    background-color: var(--highlight);
    border: 4px solid;
    border-radius: 20px;
}

.w1 {
    border-color: var(--red) !important;
}

.w2 {
    border-color: var(--orange);
}

.widgets__widgetContainer > h2 {
    font-size: 18px;
    font-weight: 800;
    padding-bottom: 5px;
}

/*browser compatibility weirdChamp*/
::-webkit-input-placeholder {
    color: var(--offwhite);
}

::-moz-placeholder {
    color: var(--offwhite);
}

::-ms-placeholder {
    color: var(--offwhite);
}

::placeholder {
    color: var(--offwhite);
}